p {
    color: black;
	letter-spacing: 0.05em;
    word-spacing: 0.05em;
    line-height: 0.5;
    text-align: left;
	
}

a {
    color: blue;
	text-decoration: underline;
}

body {
    font-size: 14px;
    color: black;
	background-color: #c3e4e8;
	font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    color: white;
	text-align: center;
    background-color: #009;
	line-height:2.0;
	margin: 0;
	font-size: 2em;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	text-decoration: underline;
	
}

h2 {
    font-size: 1.5em;
	color: white;
    background-color: #009;
    margin: 0px;
    padding: 1px;
	border-style: solid;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: black;
}

h4 {
    font-size: 16px;
	color: red;
	Font-family: (times new roman)
}


strong {
    font-style: italic;
    text-transform: uppercase;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 5px;
  padding-top: 5px;
}

#t01 {
  background-color: white;
}

#t01 td:nth-child(1) {
  background-color: #eee;
}
#t01 tr:nth-child(1) {
  background-color: #eee;
}

#t01 th {
  color: white;
  background-color: black;
}

p 	{
	color: black;
	border-color: #ccc;
}